.reviewHeaderWrap {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 16px;
}
.avatar {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--badges-color);
}