.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-height);
  min-width: var(--button-min-width);
  padding: 16px 48px;
  font: var(--body2-font-style);
  border-radius: 50px;
  gap: 8px;
}
.button:hover,
.button:focus {
  cursor: pointer;
}
.filled {
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  outline: none;
  transition: background-color var(--transition);
}
.filled:hover {
  background-color: var(--button-hover-color);
}
.outlined {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--gray-light-color);
  outline: none;
  transition: color var(--transition), border-color var(--transition);
}
.outlined:hover {
  border-color: var(--button-hover-color);
}
