.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  min-width: 160px;
  width: fit-content;
  padding: 12px 40px;
  font: var(--body2-font-style-mobile);
  border-radius: 50px;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .button {
    height: 56px;
    min-width: 166px;
    width: fit-content;
    padding: 16px 48px;
    font: var(--body2-font-style);
  }
}
.button:hover,
.button:focus {
  cursor: pointer;
}
.filled {
  background-color: var(--button-color);
  color: var(--white-color);
  border: none;
  outline: none;
  transition: background-color var(--transition);
}
.filled:hover {
  background-color: var(--button-hover-color);
}

.outlined {
  background-color: transparent;
  color: var(--main-color);
  border: 1px solid var(--gray-light-color);
  outline: none;
  transition: color var(--transition), border-color var(--transition);
}
.outlined:hover {
  border-color: var(--button-hover-color);
}
