:root {
  /* color variables */
  --main-color: #101828;
  --text-color: #475467;
  --gray-color: #6c717b;
  --gray-color-light: #6c717b1a;
  --button-color: #e44848;
  --button-hover-color: #d84343;
  --rating-color: #ffc531;
  --gray-light-color: #dadde1;
  --badges-color: #f2f4f7;
  --inputs-color: #f7f7f7;
  --white-color: #ffffff;

  /* font-family */
  --family: Inter, sans-serif;

  /* font: font-weight font-size/line-height */
  --h1-font-style: 600 48px/0.67 var(--family);
  --h2-font-style: 600 24px/1.33 var(--family);
  --h3-font-style: 600 20px/1.2 var(--family);
  --body-font-style: 400 16px/1.5 var(--family);
  --body2-font-style: 500 16px/1.5 var(--family);

  /* transition */
  --transition: 250ms, easy-in-out;
}
