.navList {
  display: flex;
  gap: 16px;
  font: var(--body2-font-style-mobile);
  margin-right: 16px;
}
@media only screen and (min-width: 768px) {
  .navList {
    gap: 32px;
    margin-right: 0;
  }
}
.link {
  display: block;
  padding: 24px 0;
}
.active {
  color: var(--button-color);
}
