.catalogCard {
  display: grid;
  grid-template-columns: 292px 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--gray-light-color);
  border-radius: 20px;
}
.cardDesriptionWrap {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
