.heroH1 {
  font: var(--h1-font-style-mobile);
  color: var(--inputs-color);
  margin-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  .heroH1 {
    font: var(--h1-font-style);
  }
}
.heroH2 {
  font: var(--h2-font-style-mobile);
  
  color: var(--inputs-color);
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .heroH2 {
    font: var(--h2-font-style);
  }
}
.cardH2 {
  font: var(--h2-font-style);
}
.headerH3 {
  font: var(--h3-font-style);
}
.headerH4 {
  font: var(--body2-font-style);
  color: var(--main-color);
}
.underlined {
  padding-bottom: 24px;
  border-bottom: 1px solid var(--gray-light-color);
}
.filtersB2 {
  font: var(--body2-font-style);
  color: var(--text-color);
}
